<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Tabs</string>
			<key>footerText</key>
				<string>What tabs to enable</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.agent22922.whatsatab</string>
			<key>key</key>
			<string>StatusTab</string>
			<key>label</key>
			<string>Status</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.agent22922.whatsatab</string>
			<key>key</key>
			<string>CallsTab</string>
			<key>label</key>
			<string>Calls</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.agent22922.whatsatab</string>
			<key>key</key>
			<string>CameraTab</string>
			<key>label</key>
			<string>Camera</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.agent22922.whatsatab</string>
			<key>key</key>
			<string>ChatsTab</string>
			<key>label</key>
			<string>Chats</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.agent22922.whatsatab</string>
			<key>key</key>
			<string>SettingsTab</string>
			<key>label</key>
			<string>Settings</string>
		</dict>
	</array>
	<key>title</key>
	<string>WhatsATab</string>
</dict>
</plist>
