Package: com.agent22922.pasteboardplus
Name: Pasteboard+
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: agent22922
Author: agent22922
Section: Tweaks
Version: 0.0.1-7+debug
Installed-Size: 384
