Package: com.agent22922.hidelabels
Name: hidelabels
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: agent22922
Author: agent22922
Section: Tweaks
Version: 0.0.1-5+debug
Installed-Size: 52
