Package: com.agent22922.lowpowertap
Name: LowPowerTap
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Toggle LPM by double tapping the right side of the statusbar
Maintainer: agent22922
Author: agent22922
Section: Tweaks
Version: 0.0.2-11+debug
Installed-Size: 168
